/* FONTS!  */
/* standard */
@font-face {
  font-family: 'Playfair Display Variable';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */

@font-face {
  font-family: 'Playfair Display Variable';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

a {
  text-decoration: underline;
}

:root{
  font-family: 'Playfair Display Variable', serif;
}

a:hover{
  text-decoration: overline;
}

