---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

//trasforma la pagina in un placeholder per inviare e generale pagine per l'elenco dei tags
export async function getStaticPaths() {
  const allPosts = await getCollection('blog');

const uniqueTags = [...new Set(allPosts.flatMap(post => post.data.tags ?? []))];


  return uniqueTags.map((tag) => {
   const filteredPosts = allPosts.filter(post => post.data.tags?.includes(tag));

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>Articoli taggati con {tag}</p>
  <ul>
    {posts.map((post: any) => <BlogPost url={`/posts/${post.id}`} title={post.data.title}/>)}
  </ul>
</BaseLayout>