---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<BaseLayout pageTitle = {pageTitle}>
<h2>My blog page</h2>
 <h3>This is where i will post my articles!</h3>
 <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>