---
import LastProject from "../components/LastProject.astro";
import PinnedPost from "../components/PinnedPost.astro";
import RandomQuote from "../components/RandomQuote.astro";
import RecentPosts from "../components/RecentPosts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Edulcorante — A quiet place for thoughts and code";
const description = "A journey in nature, technology, and small web components — by Mick.";
const url = "https://edulcorante.it";
---

<BaseLayout
    pageTitle={pageTitle}
    description={description}
    url={url}
    showTitle={false}
>
    <RandomQuote />

    <blockquote
        class="border-l-4 border-gray-400 pl-4 pb-4 mt-2 italic text-gray-700 dark:text-gray-200 tracking-wider"
    >
        <h2 class="text-lg"><strong>Edulcorante</strong></h2>
        <p>noun, masculine</p>
        <p>sweetener</p>
        <p><strong>Example: </strong>Lo zucchero è un edulcorante naturale.</p>
        <p><strong>Translation: </strong>Sugar is a natural sweetener.</p>
    </blockquote>

    <PinnedPost />
    <RecentPosts />
    <LastProject />
</BaseLayout>
