---
const { title, description, url, tags, date } = Astro.props;
---

<div class="shadow-lg my-2 p-2 rounded-md bg-slate-100 hover:bg-slate-200 dark:bg-zinc-900/50 dark:hover:bg-zinc-800/50">
    <ul>
    <h2><a href={url} class="text-amber-900 dark:text-amber-500">{title}</h2></li>
    <li>{description}</li>
    <li><small>{date.toLocaleDateString('en-EN', {
            year: 'numeric',
            month: 'long', 
            day: '2-digit',
          })
        }</small></li>
    <li>#{tags.join(" #")}</li>
    </ul>
</div>
