---
import Social from "../components/Social.astro";
//https://bsky.app/profile/social.edulcorante.it
---

<footer class="flex items-center gap-6 py-2 text-md font-medium border-t border-gray-500 dark:border-gray-700">
    <Social platform="Bsky" url="https://bsky.app/profile/social.edulcorante.it" />
    <Social platform="Github" url="https://github.com/edulcorante-hub" />
    <p class="ml-auto">&copy; 2025 Edulcorante. All rights reserved.</p>
</footer>
