<div class="flex justify-center !my-0">
    <a href="/" class="transition-transform hover:scale-110">
        <img
            src="/homepath.png"
            alt="home path logo - go home"
            class="w-[200px] h-auto dark:invert !my-0"
        /></a
    >
</div>
