---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import "../styles/global.css";
---

<header >
  <div class="flex items-center justify-between px-4 py-3">
    <a href="/" class="flex items-center gap-3 no-underline font-stretch-expanded tracking-wider hover:no-underline hover:scale-105">
      <img
        src="/edulcorante_no_bg.png"
        alt="Edulcorante logo"
        class="h-20 w-auto flex-shrink-0 dark:invert"
        loading="lazy"
      />
      <div class="leading-tight">
        <h1 class="font-bold text-2xl">Edulcorante</h1>
        <h2 class="italic text-gray-600 dark:text-gray-400">Dev, decay, discover</h2>
      </div>
    </a>

    <nav class="hidden md:flex items-center space-x-6 font-medium">
      <Navigation />
    </nav>

    <ThemeIcon />
  </div>

  <!-- mobile -->
  <nav class="flex md:hidden justify-center gap-6 py-2 text-md font-medium border-t border-gray-500 dark:border-gray-700">
    <Navigation />
  </nav>
</header>

