---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import "../styles/global.css"

---

<header>
    <nav class="mx-2 p-2 border-solid justify-between space-x-4">
        <Navigation />
        <ThemeIcon />
    </nav>
</header>
