---

---

<div class="mx-2 p-2 justify-between space-x-4 text-center">
    <a class="font-bold overline hover:underline" href="/posts/1/">Blog</a>
    <a class="font-bold overline hover:underline" href="/projects/1/">Projects</a>
    <a class="font-bold overline hover:underline" href="/about/">About</a>
</div>
