---

---

<div class="mx-2 p-2 justify-between space-x-4">
    <a class="font-bold overline hover:underline" href="/">Home</a>
    <a class="font-bold overline hover:underline" href="/blog/">Blog</a>
    <a class="font-bold overline hover:underline" href="/projects/">Projects</a>
    <a class="font-bold overline hover:underline" href="/about/">About</a>
    <a class="font-bold overline hover:underline" href="/contacts/">Contact</a>
    <!-- <a href="/tags/">Tags</a> -->
</div>
