---
const { title, url, stack, description, date, categories } = Astro.props;
---

<div
    class="border border-zinc-400 dark:border-zinc-600 my-2 p-2 rounded-md bg-slate-100 hover:bg-slate-200 dark:bg-zinc-900/50 dark:hover:bg-zinc-800/50"
>
    <ul>
        <h2><a href={url}>{title}</a></h2>
         <li>Stack: <em>{(stack).join(" - ")}</em></li>
         <hr class="dark:opacity-20">
        <li>{description}</li>
       
    </ul>
    <li><small>{date.toLocaleString()}</small></li>
    <li>
        #{(categories).join(" #")}
    </li>
</div>