<div>
    <a href="https://bsky.app/profile/social.edulcorante.it"><img src="/bluesky-ico.png" alt="bluesky icon" class="w-6 h-6 inline-block mr-2 color-black dark:invert hover:scale-110 rounded-full"></a>
    <a href="https://github.com/edulcorante-hub"><img src="/github.png" alt="github icon" class="w-10 h-10 inline-block mr-2 color-black dark:invert hover:scale-110 rounded-full"></a>
</div>

