<div class="justify-center font-bold text-xl mb-2 mt-2 ml-auto mr-2 p-2">
  <h3 class="font-bold text-xl">
    <a href="/tags/" class="text-zinc-700 dark:text-zinc-200">&rarr; Tags list #</a>
  </h3>
</div>