---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle, showTitle = true } = Astro.props; // add the property to the page/component
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/edulcorante_favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body
    class="min-h-screen bg-slate-300 text-black dark:bg-zinc-700 dark:text-white transition-colors duration-200"
  >
    <div
      class="bg-slate-100/50 dark:bg-zinc-900/50 max-w-4xl mx-auto my-1 p-4 shadow-lg border-gray-900 dark:border-gray-100 rounded-sm"
    >
      <Header />
      {
        showTitle && (
          <h1 class="prose prose-neutral text-2xl font-bold ml-4 my-4 dark:prose-invert px-5">
            {pageTitle}
          </h1>
        )
      }
      <slot />
      <Footer />
    </div>
  </body>
</html>
